# Lists

Some methods of list:

* **<code>list.append(x)</code>**: add <code>x</code> to the end
* **<code>list.insert(i, x)</code>**: insert <code>x</code> at position <code>i</code>
* **<code>list.index(x)</code>**: return index of the first item whose value is <code>x</code>
* **<code>list.pop([i])</code>**: remove item at position <code>i</code>. default value is 0

In [6]:
pets = ['dog', 'cat', 'pig']
print pets.index('cat')
pets.append('snake')
print pets
pets.insert(0, 'rabbit')
print pets

1
['dog', 'cat', 'pig', 'snake']
['rabbit', 'dog', 'cat', 'pig', 'snake']

**<code>del</code>** statement can be used to remove an item from a list given its index

In [16]:
a = range(10)
print a
del a[2]
print a
del a[:3]
print a

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[0, 1, 3, 4, 5, 6, 7, 8, 9]
[4, 5, 6, 7, 8, 9]

### List comprehensive

* a concise way to create list
* when need to create a list... think about it

In [8]:
print [x**2 for x in range(10)]

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [9]:
squares = []
for x in range(10):
    squares.append(x)
print squares

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [11]:
array = []
for x in [1,2,3]:
    for y in [1, 2, 3]:
        if x != y:
            array.append((x, y))
print array

[(1, 2), (1, 3), (2, 1), (2, 3), (3, 1), (3, 2)]

In [12]:
print [(x, y) for x in [1,2,3] for y in [1,2,3] if x != y]

[(1, 2), (1, 3), (2, 1), (2, 3), (3, 1), (3, 2)]

# Tuples


* lists and strings are two examples of sequence data types.
* tuple also a sequence data type, can think like list, but it is immutable.

In [21]:
t = (1,2,3,4,5)
print t

(1, 2, 3, 4, 5)

In [20]:
# change the tuple raise exception
t[0] = 5

TypeError: 'tuple' object does not support item assignment

# Sets

* A set is an unordered collection with no duplicate elements
* Curly brackets can use to create set

In [22]:
letters = {'a', 'b', 'c', 'a'}
print letters

set(['a', 'c', 'b'])

In [23]:
print set(['a', 'b', 'c', 'a'])

set(['a', 'c', 'b'])

* similarly to list comprehensions, set comprehensions are also supported

In [24]:
letters = {x for x in 'i can eat glass'}
print letters

set(['a', ' ', 'c', 'e', 'g', 'i', 'l', 'n', 's', 't'])

# Dictionaries

* equals to to mapping types

In [25]:
tel = {'jack': 4098, 'sape': 4139}
tel['guido'] = 4127

print tel

{'sape': 4139, 'jack': 4098, 'guido': 4127}

In [26]:
print tel['jack']

4098